body {
    font-family: Nunito, sans-serif !important;
    margin: 0;
    padding: 0;
    background-image: url('../public/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    color: white;
}

p::first-letter {
    font-size: 2.5rem;
    font-weight: bold;
}

.no-first-letter::first-letter {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}