body {
    font-family: Nunito, sans-serif !important;
    background: #333333;
    color: white;
}

p::first-letter {
    font-size: 1.2rem;
    font-weight: bold;
}

.no-first-letter::first-letter {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}